body, html, #root {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}
  
.header,
.footer {
background-color: #333;
color: white;
text-align: center;
padding: 1rem;
}
  
.main {
display: flex;
justify-content: space-around;
align-items: center;
height: calc(100vh - 140px);
padding: 1rem;
}
  
.block {
background-color: #eee;
padding: 1rem;
width: 150px;
height: 150px;
border-radius: 8px;
text-align: center;
line-height: 150px;
}
  
@media screen and (max-width: 1024px) {
    .main {
        flex-wrap: wrap;
    }
}
  